In [163]:
import pandas as pd
from datetime import datetime

In [164]:
parquet_file = '../files/parquet/homelike_assignment_data.parquet'
df = pd.read_parquet(parquet_file)

In [165]:
df.head()

,ts,event_type,session_id,user_country,user_agent,page_country,env,params
0,2025-03-01T08:39:52,image_gallery_swipe,x4m59xw01v7x1o3x,BE,Mozilla/5.0 (Linux; Android 7.0; SM-G955U Buil...,DE,production,None
1,2025-03-01T01:42:30,map_zoom,lblh6b3b8c1313h4,US,Mozilla/5.0 (Windows NT 6.0; Win64; x64) Apple...,FR,production,None
2,2025-03-01T10:03:08,image_gallery_swipe,fzhih6yuth0z3z43,PT,Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:48...,DE,production,None
3,2025-03-01T01:43:02,image_gallery_swipe,gixdutwq49v0axsp,US,Mozilla/5.0 (Windows; U; Windows NT 6.0; en-US...,FR,production,None
4,2025-03-01T06:37:54,image_gallery_swipe,tml3qec164y1myh5,NL,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,DE,production,None

In [166]:
print("The shape of the DF: ", df.shape)
print("The types of the DF: ")
df.dtypes

The shape of the DF:  (776736, 8)
The types of the DF:

ts              object
event_type      object
session_id      object
user_country    object
user_agent      object
page_country    object
env             object
params          object
dtype: object

## At first we can notice that all the columns are of type object and they should be coverted for further analysis

In [167]:
for col in df.columns:
    null_count = df[col].isnull().sum()
    percentage = format(null_count/df.shape[0], '.10f')
    print(f'''The null values of column {"'"+col+"'"} are {str(null_count)} and the percentage in the whole DF {str(percentage)}''')

The null values of column 'ts' are 72 and the percentage in the whole DF 0.0000926956
The null values of column 'event_type' are 80 and the percentage in the whole DF 0.0001029951
The null values of column 'session_id' are 83 and the percentage in the whole DF 0.0001068574
The null values of column 'user_country' are 79 and the percentage in the whole DF 0.0001017077
The null values of column 'user_agent' are 83 and the percentage in the whole DF 0.0001068574
The null values of column 'page_country' are 75 and the percentage in the whole DF 0.0000965579
The null values of column 'env' are 65 and the percentage in the whole DF 0.0000836835
The null values of column 'params' are 712497 and the percentage in the whole DF 0.9172962242

#### - Furthermore from a quick check we can notice on 7 of the 8 columns that some null values exist but exist in small percentange.
#### - On params column the percentage in null values in the whole dataset is 91,71 % is very high
#### - In both cases we need further investigation firstly how these null values are created and secondly if we can fix them somehow.
#### - For sure we should not have any null values in timestamp column

### Check unique values in some columns as well as a preview of the none values in each column

In [168]:
df[df.ts.isnull()].head()

,ts,event_type,session_id,user_country,user_agent,page_country,env,params
10956,None,image_gallery_swipe,sgffe8oncipm4142,FR,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_1...,FR,production,None
12393,None,apartment_view,gxqdmf72o432ykhr,IT,Mozilla/4.0 (compatible; MSIE 7.0; connectpro;...,FR,production,"{'apartment': 'pa2egkcfprjxp15a', 'apartments'..."
38936,None,map_zoom,mmnxe1ksu3bn5y1w,PT,Mozilla/4.0 (compatible; MSIE 8.0; Windows NT ...,DE,production,None
55767,None,map_zoom,fy25cw2ce21qgych,CH,Mozilla/4.0 (compatible; MSIE 8.0; Windows NT ...,FR,production,None
85262,None,image_gallery_swipe,6wvozsxctn9ntiz9,DE,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,FR,production,None

In [169]:
df[df.event_type.isnull()].head()

,ts,event_type,session_id,user_country,user_agent,page_country,env,params
15053,2025-03-01T08:49:33,None,9g6ilwwftiao67ma,IT,Mozilla/4.0 (compatible; MSIE 8.0; Windows NT ...,ES,production,None
16107,2025-03-01T03:29:41,None,utod4znglmh6ax1x,DE,Mozilla/5.0 (compatible; MSIE 10.0; Windows NT...,ES,production,"{'apartment': 'uc5zq1bhyck22jy6', 'apartments'..."
34418,2025-03-01T01:48:31,None,oz1dtk2th4czn9r2,PT,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_5)...,DE,production,None
34892,2025-03-01T00:16:11,None,thxqa6da33dexc0u,FR,Opera/9.80 (X11;Linux armv7i;NETRANGEMMH;HbbTV...,ES,production,None
64962,2025-03-01T06:05:42,None,8m7x9aouxfkm7y5a,DE,Mozilla/4.0 (compatible; MSIE 7.0; Windows NT ...,FR,production,None

In [170]:
print(df.event_type.unique())

df[df.event_type.isnull()].head()

['image_gallery_swipe' 'map_zoom' 'map_move' 'apartment_view' 'page_view'
 'search_impression' 'create_request' 'paid_request' None]

,ts,event_type,session_id,user_country,user_agent,page_country,env,params
15053,2025-03-01T08:49:33,None,9g6ilwwftiao67ma,IT,Mozilla/4.0 (compatible; MSIE 8.0; Windows NT ...,ES,production,None
16107,2025-03-01T03:29:41,None,utod4znglmh6ax1x,DE,Mozilla/5.0 (compatible; MSIE 10.0; Windows NT...,ES,production,"{'apartment': 'uc5zq1bhyck22jy6', 'apartments'..."
34418,2025-03-01T01:48:31,None,oz1dtk2th4czn9r2,PT,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_5)...,DE,production,None
34892,2025-03-01T00:16:11,None,thxqa6da33dexc0u,FR,Opera/9.80 (X11;Linux armv7i;NETRANGEMMH;HbbTV...,ES,production,None
64962,2025-03-01T06:05:42,None,8m7x9aouxfkm7y5a,DE,Mozilla/4.0 (compatible; MSIE 7.0; Windows NT ...,FR,production,None

In [171]:
df[df.session_id.isnull()].head()

,ts,event_type,session_id,user_country,user_agent,page_country,env,params
6367,2025-03-01T04:44:35,image_gallery_swipe,None,BE,Mozilla/5.0 (68K; rv:8.0) Gecko/20100209 Firef...,ES,production,None
10041,2025-03-01T06:38:35,search_impression,None,BE,UCWEB/2.0 (MIDP-2.0; U; Adr 6.0.1; id; SM-G532...,FR,production,"{'apartment': None, 'apartments': ['53ygw9e4rp..."
11659,2025-03-01T09:40:39,map_zoom,None,ES,Opera/9.80 (J2ME/MIDP; Opera Mini/4.2.18149/37...,FR,production,None
12735,2025-03-01T08:03:50,image_gallery_swipe,None,IT,Mozilla/5.0 (Linux; Android 4.4.2; SM-T230 Bui...,ES,production,None
26212,2025-03-01T06:24:07,map_move,None,PT,Mozilla/5.0 (Linux; U; Android 4.3; en-in; ASU...,DE,production,None

In [172]:
print(df.user_country.unique())

df[df.user_country.isnull()].head()

['BE' 'US' 'PT' 'NL' 'FR' 'DE' 'CH' 'ES' 'IT' None]

,ts,event_type,session_id,user_country,user_agent,page_country,env,params
18188,2025-03-01T03:38:23,image_gallery_swipe,ub3syr9jecqbyq7h,None,Opera/9.80 (J2ME/MIDP; Opera Mini/4.5.40380/65...,DE,production,None
26280,2025-03-01T05:33:56,map_zoom,o5f4hdrami1zpzr3,None,Mozilla/5.0 (Linux; Android 5.1; Hudl 2 Build/...,ES,production,None
30978,2025-03-01T08:28:45,map_zoom,rlr2wzpdeeqmxzbs,None,Mozilla/5.0 (Linux; Android 6.0.1; LG-K520 Bui...,ES,production,None
49588,2025-03-01T08:43:55,map_move,ulqlnu8tfep7kgia,None,Mozilla/5.0 (Linux; Android 7.0; Moto G (4) Bu...,FR,production,None
50416,2025-03-01T06:12:18,map_zoom,9d9itjz8pft06mwk,None,Mozilla/5.0 (Linux; Android 4.4.2; SAMSUNG-SGH...,FR,production,None

In [173]:
print(df['user_agent'][3])

df[df.user_agent.isnull()].head()

Mozilla/5.0 (Windows; U; Windows NT 6.0; en-US; rv:1.9.1.7) Gecko/20091221 Firefox/3.5.7 (.NET CLR 3.5.30729) FBSMTWB

,ts,event_type,session_id,user_country,user_agent,page_country,env,params
6655,2025-03-01T04:17:21,image_gallery_swipe,03c0bvl67wi0uh4o,CH,None,ES,production,None
10462,2025-03-01T08:53:26,apartment_view,wm66thrmcoytokcb,BE,None,DE,production,"{'apartment': 'tl0gmpxbe7pjpwoa', 'apartments'..."
20136,2025-03-01T09:00:16,image_gallery_swipe,jrgbn37naarh3vcb,IT,None,ES,production,None
41804,2025-03-01T02:08:23,image_gallery_swipe,gz2ce9semmbdskbc,IT,None,FR,production,None
44921,2025-03-01T07:12:44,image_gallery_swipe,fk2vebz7ws4wh5lh,CH,None,FR,production,None

In [174]:
print(df.page_country.unique())

df[df.page_country.isnull()].head() # there is timestamp in different format

['DE' 'FR' 'ES' None]

,ts,event_type,session_id,user_country,user_agent,page_country,env,params
55364,2025-03-01T02:23:47,map_move,wz8ue1eyyyc0lo98,ES,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,None,production,None
77676,2025-03-01T06:03:31,map_zoom,w37gjp9ykr3qimdr,CH,Mozilla/5.0 (Linux; U; Android 6.0.1; en-US; S...,None,production,None
83561,1740788102.0,map_move,kmq8jibgfni41hoi,BE,Mozilla/5.0 (Windows; U; Windows NT 5.1; en-US...,None,production,None
86763,2025-03-01T09:03:15,map_zoom,5xz7l7skla89943u,BE,Mozilla/5.0 (iPhone; CPU iPhone OS 11_0_1 like...,None,production,None
91034,2025-03-01T08:01:54,map_move,fj06hwoq51psidp4,NL,Mozilla/5.0 (Linux; Android 4.4.4; HM NOTE 1S ...,None,production,None

In [175]:
print(df.env.unique())

df[df.env.isnull()].head()

['production' 'staging' None]

,ts,event_type,session_id,user_country,user_agent,page_country,env,params
5820,2025-03-01T00:38:26,map_zoom,8xkd5baum6t3uy4w,US,Mozilla/4.0 (compatible; MSIE 8.0; Windows NT ...,DE,None,None
30159,2025-03-01T06:32:06,image_gallery_swipe,ho6c57pa7f2sa7c5,BE,Mozilla/5.0 (Windows NT 6.1; WOW64; Trident/7....,DE,None,None
54646,2025-03-01T07:33:08,image_gallery_swipe,5d7whgcyphdxg2p5,FR,Opera/9.80 (MAUI Runtime; Opera Mini/4.4.31998...,ES,None,None
83570,2025-03-01T05:23:38,apartment_view,mdm42525nz0kqyge,CH,Opera/9.80 (Android; Opera Mini/15.0.2125/107....,ES,None,"{'apartment': 'uwuu97q672zqy4t4', 'apartments'..."
96807,2025-03-01T05:07:08,image_gallery_swipe,6hk5np3pxvk63r5n,US,Mozilla/5.0 (compatible; MSIE 11.0; Windows NT...,ES,None,None

In [176]:
df[df.params.notnull()].head()

,ts,event_type,session_id,user_country,user_agent,page_country,env,params
18,2025-03-01T06:52:38,apartment_view,5a3aiqtknbe4ysq5,BE,UCWEB/2.0 (MIDP-2.0; U; Adr 4.1.2; id; GT-S528...,DE,production,"{'apartment': '4xo274ju8xiform5', 'apartments'..."
22,2025-03-01T06:38:06,apartment_view,mgiqv4bg4urss1he,US,Opera/9.80 (Android; Opera Mini/8.0.1807/95.90...,DE,production,"{'apartment': 'g0844e1q5yw1dejm', 'apartments'..."
24,2025-03-01T04:16:23,page_view,27oquq2hw5z896gh,US,Mozilla/5.0 (Linux; Android 4.2.2; SNB02-NV7A ...,ES,production,"{'apartment': None, 'apartments': None, 'page'..."
35,2025-03-01T04:50:53,apartment_view,j6zuln4d7r4y22an,IT,Mozilla/5.0 (Linux; Android 5.1.1; A0001 Build...,DE,production,"{'apartment': 'ybkbawv8x9cpwym1', 'apartments'..."
38,2025-03-01T07:41:35,search_impression,1a67h8odbog61z9g,US,Mozilla/5.0 (iPad; CPU OS 10_3_3 like Mac OS X...,ES,production,"{'apartment': None, 'apartments': ['uc5zq1bhyc..."

In [177]:
# Print some examples
print(df['params'][12393])
print(df['params'][18])
print(df['params'][22])

{'apartment': 'pa2egkcfprjxp15a', 'apartments': None, 'page': None, 'request': None}
{'apartment': '4xo274ju8xiform5', 'apartments': None, 'page': None, 'request': None}
{'apartment': 'g0844e1q5yw1dejm', 'apartments': None, 'page': None, 'request': None}

#### We can notice also that in params column there are dictionaries in cells, i guess this must be brought in the same format to the table

In [178]:
def extract_values(row):
    return pd.Series(row['params'])

In [179]:
df[['apartment', 'apartments', 'page', 'requests']] = df.apply(extract_values, axis=1)

In [180]:
# Now the columns are created 
df.loc[12393]

ts                                                           None
event_type                                         apartment_view
session_id                                       gxqdmf72o432ykhr
user_country                                                   IT
user_agent      Mozilla/4.0 (compatible; MSIE 7.0; connectpro;...
page_country                                                   FR
env                                                    production
params          {'apartment': 'pa2egkcfprjxp15a', 'apartments'...
apartment                                        pa2egkcfprjxp15a
apartments                                                   None
page                                                         None
requests                                                     None
Name: 12393, dtype: object

In [181]:
print(df.shape[0])
print(df['session_id'].value_counts())

776736
session_id
k7ov0g5jp9l66rio    106
lnosko96z4gl0dou    104
7z8pwz2kpnbjeihz    104
qgeh99kfb2uuqzn7    103
fuzhyuv7wloth31e    103
                   ...
0burybc63x74nuy2      1
d9dbjrfoiarc8qt9      1
nr0wpzsxdnfvjetf      1
zgx556598h3boj4c      1
m19v4ymaevtyi63v      1
Name: count, Length: 10452, dtype: int64

In [182]:
# A lot of timestamps have a different format
df['ts'].value_counts().tail(50)

ts
03/01/2025, 07:03:19    1
03/01/2025, 09:52:35    1
1740791175.0            1
03/01/2025, 00:59:01    1
1740799728.0            1
1740792620.0            1
03/01/2025, 06:02:21    1
1740806605.0            1
03/01/2025, 05:14:48    1
1740802079.0            1
1740820026.0            1
1740799678.0            1
2025-03-01T10:09:52     1
1740801154.0            1
1740808401.0            1
1740802588.0            1
03/01/2025, 02:17:29    1
1740801937.0            1
03/01/2025, 01:31:27    1
03/01/2025, 06:07:23    1
03/01/2025, 08:51:00    1
1740804204.0            1
03/01/2025, 07:36:09    1
1740820659.0            1
1740813961.0            1
03/01/2025, 07:05:13    1
1740794854.0            1
1740792708.0            1
1740788510.0            1
1740791397.0            1
1740799275.0            1
03/01/2025, 05:38:42    1
03/01/2025, 07:57:42    1
03/01/2025, 02:37:59    1
03/01/2025, 00:50:26    1
1740792785.0            1
03/01/2025, 00:21:49    1
1740817745.0            1
03/01/2025, 03:00:01    1
03/01/2025, 08:49:23    1
03/01/2025, 02:41:49    1
03/01/2025, 08:50:02    1
03/01/2025, 07:19:36    1
1740814493.0            1
03/01/2025, 07:37:02    1
1740820276.0            1
1740803017.0            1
1740788279.0            1
1740809239.0            1
1740823405.0            1
Name: count, dtype: int64

In [183]:
df['ts'] = df['ts'].apply(lambda x: str(x) if pd.notnull(x) else '')

In [184]:
# we have ts that contain '/' also ts that have totaly different format
df[df['ts'].str.contains('-')]

,ts,event_type,session_id,user_country,user_agent,page_country,env,params,apartment,apartments,page,requests
0,2025-03-01T08:39:52,image_gallery_swipe,x4m59xw01v7x1o3x,BE,Mozilla/5.0 (Linux; Android 7.0; SM-G955U Buil...,DE,production,None,NaN,NaN,NaN,NaN
1,2025-03-01T01:42:30,map_zoom,lblh6b3b8c1313h4,US,Mozilla/5.0 (Windows NT 6.0; Win64; x64) Apple...,FR,production,None,NaN,NaN,NaN,NaN
2,2025-03-01T10:03:08,image_gallery_swipe,fzhih6yuth0z3z43,PT,Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:48...,DE,production,None,NaN,NaN,NaN,NaN
3,2025-03-01T01:43:02,image_gallery_swipe,gixdutwq49v0axsp,US,Mozilla/5.0 (Windows; U; Windows NT 6.0; en-US...,FR,production,None,NaN,NaN,NaN,NaN
4,2025-03-01T06:37:54,image_gallery_swipe,tml3qec164y1myh5,NL,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,DE,production,None,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
776731,2025-03-01T06:02:17,map_move,vjqkchm10thc4j1r,ES,Mozilla/4.0 (compatible; MSIE 8.0; Windows NT ...,FR,production,None,NaN,NaN,NaN,NaN
776732,2025-03-01T06:13:46,image_gallery_swipe,1iny7mnyr4ae1knu,PT,Mozilla/5.0 (Linux; Android 7.1.2; Redmi 4A Bu...,FR,production,None,NaN,NaN,NaN,NaN
776733,2025-03-01T09:42:49,map_zoom,didr8c403tug8a7s,IT,Opera/9.80 (iPhone; Opera Mini/7.0.2/27.1993; ...,DE,production,None,NaN,NaN,NaN,NaN
776734,2025-03-01T07:16:28,map_zoom,7s7uy0x5wbz1xm2r,DE,Mozilla/4.0 (compatible; MSIE 7.0; Windows NT ...,FR,production,None,NaN,NaN,NaN,NaN
776735,2025-03-01T00:37:35,map_zoom,j340wrs19us6us8h,DE,Mozilla/5.0 (iPhone; CPU iPhone OS 9_3_4 like ...,FR,production,None,NaN,NaN,NaN,NaN

In [185]:
def fix_dates1(x):
    # Parse the string to a datetime object
    dt_object = datetime.strptime(x, '%Y-%m-%dT%H:%M:%S')

    # Convert the datetime object to the desired format 'dd/mm/yyyy HH:MM:SS'
    formatted_timestamp = str(dt_object.strftime('%d/%m/%Y %H:%M:%S'))
    
    return formatted_timestamp

In [186]:
df['ts'] = df['ts'].apply(lambda x: fix_dates1(x) if '-' in x else x)

In [187]:
#Check again 
errors = df[~df.ts.str.contains('/')]

In [188]:
errors['ts'][10956] == ''

True

In [189]:
errors[~errors.ts.str.contains('.')]

,ts,event_type,session_id,user_country,user_agent,page_country,env,params,apartment,apartments,page,requests
10956,,image_gallery_swipe,sgffe8oncipm4142,FR,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_1...,FR,production,None,NaN,NaN,NaN,NaN
12393,,apartment_view,gxqdmf72o432ykhr,IT,Mozilla/4.0 (compatible; MSIE 7.0; connectpro;...,FR,production,"{'apartment': 'pa2egkcfprjxp15a', 'apartments'...",pa2egkcfprjxp15a,None,None,None
38936,,map_zoom,mmnxe1ksu3bn5y1w,PT,Mozilla/4.0 (compatible; MSIE 8.0; Windows NT ...,DE,production,None,NaN,NaN,NaN,NaN
55767,,map_zoom,fy25cw2ce21qgych,CH,Mozilla/4.0 (compatible; MSIE 8.0; Windows NT ...,FR,production,None,NaN,NaN,NaN,NaN
85262,,image_gallery_swipe,6wvozsxctn9ntiz9,DE,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,FR,production,None,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
713863,,image_gallery_swipe,1f505xtecpyva3ko,ES,Mozilla/5.0 (MSIE 9.0; qdesk 2.5.1277.202; Win...,DE,production,None,NaN,NaN,NaN,NaN
725573,,image_gallery_swipe,zr27ps2qbun75sjf,DE,Opera/9.80 (Series 60; Opera Mini/7.1.32444/37...,DE,production,None,NaN,NaN,NaN,NaN
726420,,image_gallery_swipe,zalsfspienuaw28s,FR,Mozilla/5.0 (Linux; Android 5.1; vivo Y21 Buil...,DE,production,None,NaN,NaN,NaN,NaN
759645,,image_gallery_swipe,dr5bd9sawpaf8yvi,PT,Mozilla/5.0 (Linux; Android 5.1; XT1052 Build/...,ES,production,None,NaN,NaN,NaN,NaN
773772,,image_gallery_swipe,dk00yu9vjdfsdl4f,FR,Mozilla/5.0 (Linux; U; Android 4.2.2; en-us; T...,DE,production,None,NaN,NaN,NaN,NaN

In [192]:
def fix_dates2(x):
    # Convert the string timestamp to a float and then to a datetime object
    dt_object = datetime.utcfromtimestamp(float(x))

    # Format the datetime object into the desired format
    formatted_timestamp = str(dt_object.strftime('%d/%m/%Y %H:%M:%S'))
    return formatted_timestamp

In [193]:
df['ts'] = df['ts'].apply(lambda x: fix_dates2(x) if ('/' not in x and x != '') else x)

In [196]:
# Check again
df[~df.ts.str.contains('/')]

,ts,event_type,session_id,user_country,user_agent,page_country,env,params,apartment,apartments,page,requests
10956,,image_gallery_swipe,sgffe8oncipm4142,FR,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_1...,FR,production,None,NaN,NaN,NaN,NaN
12393,,apartment_view,gxqdmf72o432ykhr,IT,Mozilla/4.0 (compatible; MSIE 7.0; connectpro;...,FR,production,"{'apartment': 'pa2egkcfprjxp15a', 'apartments'...",pa2egkcfprjxp15a,None,None,None
38936,,map_zoom,mmnxe1ksu3bn5y1w,PT,Mozilla/4.0 (compatible; MSIE 8.0; Windows NT ...,DE,production,None,NaN,NaN,NaN,NaN
55767,,map_zoom,fy25cw2ce21qgych,CH,Mozilla/4.0 (compatible; MSIE 8.0; Windows NT ...,FR,production,None,NaN,NaN,NaN,NaN
85262,,image_gallery_swipe,6wvozsxctn9ntiz9,DE,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,FR,production,None,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
713863,,image_gallery_swipe,1f505xtecpyva3ko,ES,Mozilla/5.0 (MSIE 9.0; qdesk 2.5.1277.202; Win...,DE,production,None,NaN,NaN,NaN,NaN
725573,,image_gallery_swipe,zr27ps2qbun75sjf,DE,Opera/9.80 (Series 60; Opera Mini/7.1.32444/37...,DE,production,None,NaN,NaN,NaN,NaN
726420,,image_gallery_swipe,zalsfspienuaw28s,FR,Mozilla/5.0 (Linux; Android 5.1; vivo Y21 Buil...,DE,production,None,NaN,NaN,NaN,NaN
759645,,image_gallery_swipe,dr5bd9sawpaf8yvi,PT,Mozilla/5.0 (Linux; Android 5.1; XT1052 Build/...,ES,production,None,NaN,NaN,NaN,NaN
773772,,image_gallery_swipe,dk00yu9vjdfsdl4f,FR,Mozilla/5.0 (Linux; U; Android 4.2.2; en-us; T...,DE,production,None,NaN,NaN,NaN,NaN