In [2]:
import pandas as pd

In [62]:
parquet_file = '../files/parquet/homelike_assignment_data.parquet'
df = pd.read_parquet(parquet_file)

In [4]:
df.head()

,ts,event_type,session_id,user_country,user_agent,page_country,env,params
0,2025-03-01T08:39:52,image_gallery_swipe,x4m59xw01v7x1o3x,BE,Mozilla/5.0 (Linux; Android 7.0; SM-G955U Buil...,DE,production,None
1,2025-03-01T01:42:30,map_zoom,lblh6b3b8c1313h4,US,Mozilla/5.0 (Windows NT 6.0; Win64; x64) Apple...,FR,production,None
2,2025-03-01T10:03:08,image_gallery_swipe,fzhih6yuth0z3z43,PT,Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:48...,DE,production,None
3,2025-03-01T01:43:02,image_gallery_swipe,gixdutwq49v0axsp,US,Mozilla/5.0 (Windows; U; Windows NT 6.0; en-US...,FR,production,None
4,2025-03-01T06:37:54,image_gallery_swipe,tml3qec164y1myh5,NL,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,DE,production,None

In [15]:
print("The shape of the DF: ", df.shape)
print("The types of the DF: ")
df.dtypes

The shape of the DF:  (776736, 8)
The types of the DF:

ts              object
event_type      object
session_id      object
user_country    object
user_agent      object
page_country    object
env             object
params          object
dtype: object

## At first we can notice that all the columns are of type object and they should be coverted for further analysis

In [39]:
for col in df.columns:
    null_count = df[col].isnull().sum()
    percentage = format(null_count/df.shape[0], '.10f')
    print(f'''The null values of column {"'"+col+"'"} are {str(null_count)} and the percentage in the whole DF {str(percentage)}''')

The null values of column 'ts' are 72 and the percentage in the whole DF 0.0000926956
The null values of column 'event_type' are 80 and the percentage in the whole DF 0.0001029951
The null values of column 'session_id' are 83 and the percentage in the whole DF 0.0001068574
The null values of column 'user_country' are 79 and the percentage in the whole DF 0.0001017077
The null values of column 'user_agent' are 83 and the percentage in the whole DF 0.0001068574
The null values of column 'page_country' are 75 and the percentage in the whole DF 0.0000965579
The null values of column 'env' are 65 and the percentage in the whole DF 0.0000836835
The null values of column 'params' are 712497 and the percentage in the whole DF 0.9172962242

#### - Furthermore from a quick check we can notice on 7 of the 8 columns that some null values exist but exist in small percentange.
#### - On params column the percentage in null values in the whole dataset is 91,71 % is very high
#### - In both cases we need further investigation firstly how these null values are created and secondly if we can fix them somehow.
#### - For sure we should not have any null values in timestamp column

In [42]:
df[df.ts.isnull()].head()

,ts,event_type,session_id,user_country,user_agent,page_country,env,params
10956,None,image_gallery_swipe,sgffe8oncipm4142,FR,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_1...,FR,production,None
12393,None,apartment_view,gxqdmf72o432ykhr,IT,Mozilla/4.0 (compatible; MSIE 7.0; connectpro;...,FR,production,"{'apartment': 'pa2egkcfprjxp15a', 'apartments'..."
38936,None,map_zoom,mmnxe1ksu3bn5y1w,PT,Mozilla/4.0 (compatible; MSIE 8.0; Windows NT ...,DE,production,None
55767,None,map_zoom,fy25cw2ce21qgych,CH,Mozilla/4.0 (compatible; MSIE 8.0; Windows NT ...,FR,production,None
85262,None,image_gallery_swipe,6wvozsxctn9ntiz9,DE,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,FR,production,None

In [44]:
df[df.params.notnull()].head()

,ts,event_type,session_id,user_country,user_agent,page_country,env,params
18,2025-03-01T06:52:38,apartment_view,5a3aiqtknbe4ysq5,BE,UCWEB/2.0 (MIDP-2.0; U; Adr 4.1.2; id; GT-S528...,DE,production,"{'apartment': '4xo274ju8xiform5', 'apartments'..."
22,2025-03-01T06:38:06,apartment_view,mgiqv4bg4urss1he,US,Opera/9.80 (Android; Opera Mini/8.0.1807/95.90...,DE,production,"{'apartment': 'g0844e1q5yw1dejm', 'apartments'..."
24,2025-03-01T04:16:23,page_view,27oquq2hw5z896gh,US,Mozilla/5.0 (Linux; Android 4.2.2; SNB02-NV7A ...,ES,production,"{'apartment': None, 'apartments': None, 'page'..."
35,2025-03-01T04:50:53,apartment_view,j6zuln4d7r4y22an,IT,Mozilla/5.0 (Linux; Android 5.1.1; A0001 Build...,DE,production,"{'apartment': 'ybkbawv8x9cpwym1', 'apartments'..."
38,2025-03-01T07:41:35,search_impression,1a67h8odbog61z9g,US,Mozilla/5.0 (iPad; CPU OS 10_3_3 like Mac OS X...,ES,production,"{'apartment': None, 'apartments': ['uc5zq1bhyc..."

In [48]:
# Print some examples
print(df['params'][12393])
print(df['params'][18])
print(df['params'][22])

{'apartment': 'pa2egkcfprjxp15a', 'apartments': None, 'page': None, 'request': None}
{'apartment': '4xo274ju8xiform5', 'apartments': None, 'page': None, 'request': None}
{'apartment': 'g0844e1q5yw1dejm', 'apartments': None, 'page': None, 'request': None}

#### We can notice also that in params column there are dictionaries in cells, i guess this must be brought in the same format to the table

In [55]:
def extract_values(row):
    return pd.Series(row['params'])

In [ ]:
df.drop

In [63]:
df[['apartment', 'apartments', 'page', 'requests']] = df.apply(extract_values, axis=1)

In [64]:
df

,ts,event_type,session_id,user_country,user_agent,page_country,env,params,apartment,apartments,page,requests
0,2025-03-01T08:39:52,image_gallery_swipe,x4m59xw01v7x1o3x,BE,Mozilla/5.0 (Linux; Android 7.0; SM-G955U Buil...,DE,production,None,NaN,NaN,NaN,NaN
1,2025-03-01T01:42:30,map_zoom,lblh6b3b8c1313h4,US,Mozilla/5.0 (Windows NT 6.0; Win64; x64) Apple...,FR,production,None,NaN,NaN,NaN,NaN
2,2025-03-01T10:03:08,image_gallery_swipe,fzhih6yuth0z3z43,PT,Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:48...,DE,production,None,NaN,NaN,NaN,NaN
3,2025-03-01T01:43:02,image_gallery_swipe,gixdutwq49v0axsp,US,Mozilla/5.0 (Windows; U; Windows NT 6.0; en-US...,FR,production,None,NaN,NaN,NaN,NaN
4,2025-03-01T06:37:54,image_gallery_swipe,tml3qec164y1myh5,NL,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,DE,production,None,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
776731,2025-03-01T06:02:17,map_move,vjqkchm10thc4j1r,ES,Mozilla/4.0 (compatible; MSIE 8.0; Windows NT ...,FR,production,None,NaN,NaN,NaN,NaN
776732,2025-03-01T06:13:46,image_gallery_swipe,1iny7mnyr4ae1knu,PT,Mozilla/5.0 (Linux; Android 7.1.2; Redmi 4A Bu...,FR,production,None,NaN,NaN,NaN,NaN
776733,2025-03-01T09:42:49,map_zoom,didr8c403tug8a7s,IT,Opera/9.80 (iPhone; Opera Mini/7.0.2/27.1993; ...,DE,production,None,NaN,NaN,NaN,NaN
776734,2025-03-01T07:16:28,map_zoom,7s7uy0x5wbz1xm2r,DE,Mozilla/4.0 (compatible; MSIE 7.0; Windows NT ...,FR,production,None,NaN,NaN,NaN,NaN
776735,2025-03-01T00:37:35,map_zoom,j340wrs19us6us8h,DE,Mozilla/5.0 (iPhone; CPU iPhone OS 9_3_4 like ...,FR,production,None,NaN,NaN,NaN,NaN

In [65]:
df.loc[12393]

ts                                                           None
event_type                                         apartment_view
session_id                                       gxqdmf72o432ykhr
user_country                                                   IT
user_agent      Mozilla/4.0 (compatible; MSIE 7.0; connectpro;...
page_country                                                   FR
env                                                    production
params          {'apartment': 'pa2egkcfprjxp15a', 'apartments'...
apartment                                        pa2egkcfprjxp15a
apartments                                                   None
page                                                         None
requests                                                     None
Name: 12393, dtype: object